<nav class="navbar navbar-default navbar-fixed-top" role='navigation' ng-controller='NavCtrl'>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="collapsed = !collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/">RoboBar</a>
    </div>
    <div class="navbar-collapse" uib-collapse='collapsed'>
      <ul class="nav navbar-nav navbar-right">
        <li><a class='btn btn-default' href="/#/">Home</a></li>        
        <li><a class='btn btn-default' href="/#/drinkMenu">Menu</a></li>
        <li><a class='btn btn-default' href="/#/add" ng-show='isRoot()'>Add</a></li>
        <li><a class='btn btn-default' href='/#/favorites' ng-show="isLoggedIn()">Favorites</a></li>
        <li><a class='btn btn-default' href='/#/' ng-show="isLoggedIn()" ng-click='logout()'>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="col-xs-12 col-lg-12" style="height:80px;"></div>
