<div class="col-xs-12" style="height:70px;"></div>

<div class='container-fluid'>
   <h2 class='text-center'>Drink Menu</h2>
   <h4 class='text-center col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12	'>Welcome to the Robo-Bar menu! Please make sure you have the correct size class in the correct location before ordering a drink. Have fun, and be irresponsible.</h4>
</div>

<div class='container-fluid'>
	<div class='row'>
		<div id='drinkRecipe' class='text-center col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12'>
			<div ng-repeat="drink in drinkMenu" class='col-md-6 col-lg-6 col-sm-10 col-xs-10'>
				<img style="height:200px;"src={{drink.img}}>
				<h2>{{drink.title}}</h2>
				<p>{{drink.description}}</p>
				<p>{{drink.extra}}</p>
				<button ng-show="isRoot()" class='btn btn-default' ng-click='deleteDrink(this)'>Delete</button>
				<button ng-show="isLoggedIn()" class='btn btn-default' ng-click='addFav(this)'>Add to Favorites</button>
				</br></br>
				<button ng-show="isLoggedIn()" class='btn btn-lg btn-danger' ng-click='orderDrink(this)'>MAKE DRINK</button>
				</br></br>
			</div>
		</div>
	</div>
</div>


<script type="text/ng-template" id="orderSuccess.html">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="text-center">
          <h1>Success</h1></br>
          <p>Your drink is being made, enjoy!</p>
        </div>
        <div class="modal-footer">
        <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</script>
<script type="text/ng-template" id="orderFailure.html">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="text-center">
          <h1>Failure</h1></br>
          <p>Please try again in a few minutes, the bartender is currently busy!</p>
        </div>
        <div class="modal-footer">
        <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</script>
