<div class="col-xs-12" style="height:70px;"></div>
<h2 class='text-center'>Welcome to RoboBar</h2>
<h4 class='text-center'>Please decide how to continue...</h4>
<div>
  <div class='button-row container-fluid'>
    <div class='col-md-6 col-md-offset-3'>
      <!-- <button ng-click='toggleModal()' class='btn btn-default col-md-6 col-sm-6'>Login</button> -->
      <button ng-click='show1()' class='btn btn-default col-md-6 col-sm-6'>Login</button>
      <a class='btn btn-default col-md-6 col-sm-6' href="/drinkMenu">Continue as Guest</a>
      </br></br>
      <button ng-click='show()' ng-show="isRoot()" class='btn btn-default col-md-12 col-sm-12'>Sign up</button>
    </div>
  </div>

<script type="text/ng-template" id="modal.html">
    <div class="modal fade">
     <div class="modal-dialog">
       <div class="modal-content">

         <div ng-controller='userCtrl'>
           <form ng-submit='userSignup()'>
             <div class='form-group'>
             <label for='name'>Name</label>
               <input type='text' class='form-control' id='name' placeholder='Enter User Name' ng-model='user.name'>
               <label for='email'>Email</label>
               <input type='email' class='form-control' id='email' placeholder='Enter Email' ng-model='user.email'>
             </div>
             <div class='form-group'>
               <label for='password'>Password</label>
               <input type='password' class='form-control' id='password' placeholder='Enter Password' ng-model='user.password'>
             </div>
             <button ng-click="userSignup()" class='btn btn-succes' data-dismiss="modal">Signup</button>
           </form>
         </div>

         <div class="modal-footer">
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>

       </div>
     </div>
   </div>
</script>

<script type="text/ng-template" id="modal1.html">
    <div class="modal fade">
     <div class="modal-dialog">
       <div class="modal-content">

    <div ng-controller="userCtrl">
      <form ng-submit='userLogin()'>
       <div class='form-group'>
         <label for='email'>Email</label>
         <input type='email' class='form-control' id='email' placeholder='Enter Email' ng-model='user.email'>
       </div>
       <div class='form-group'>
         <label for='password'>Password</label>
         <input type='password' class='form-control' id='password' placeholder='Enter Password' ng-model='user.password'>
       </div>
       <button ng-click="userLogin()" class='btn btn-succes' data-dismiss="modal">Login</button>
      </form>
    </div>

         <div class="modal-footer">
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>

       </div>
     </div>
   </div>
</script>


</div>
